/* box 1 */
.App nav {
  position: fixed;
  width: 30%;
  height: 83%;
  padding-top: 2.5%;
  overflow: auto;
  background-color: lightgrey;
  padding-left: 2em;
}

.App nav .App-title {
  float: left;
  margin-top: 5%;
  left: 10%;
  font-size: 2em;
}
.RoomList #newRoom {
  margin-top: 6%;
  margin-left: 10%;
  padding: 5px;
}

.RoomList ul {
  position: absolute;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10%;
}

.RoomList li {
  line-height: 2em;
  padding-left: 1em;
}

.RoomList #formToCreateRoom, .RoomList #formToRenameRoom {
  position: fixed;
  display: none;
  top: 20%;
  left: 45%;
  width: 35%;
  background-color: lightgrey;
  border: black solid 1px;
  padding: 20px;
}
#formToCreateRoom fieldset, #formToRenameRoom fieldset{
  border: none;
}

#formToCreateRoom label>input, #formToRenameRoom label>input{
  display: block;
  width: 95%;
  padding: 7px;
  margin-bottom: 10px;
}

.RoomList .buttons button{
  width: 46%;
  margin: 5px;
  padding: 7px;
}

/* box 2 */
main {
  position: fixed;
  height: 97%;
  width: 65%;
  left: 33%;
  padding-top: 3%;
  z-index: -1;
}

main .MessageList{
  position: absolute;
  width: 100%;
  height: 81%;
  overflow: auto;
  padding-bottom: 3%;
}

.MessageList h3 {
  margin-left: 1.5em;
  font-size: 1.5em;
}

.MessageList li {
  display: block;
  margin-top: 1em;
}
.MessageList li p#username {
  font-weight: bold;
  margin: 0;
}
.MessageList li span#sentat{
  float: right;
  margin: 0;
  margin-right: 2em;
}

.MessageList li:focus {
  /*border: 2px solid hsl(144, 27%, 33%);*/
  background-color: hsl(178, 41%, 85%);
  border: none;
}

/* box 4*/
main .newMessage{
  position: absolute;
  bottom: 1.6%;
  height: 11.5%;
  width: 100%;
  background-color: silver;
  border-top: darkGray groove 2px;
  border-bottom: darkGray groove 2px;
}

#newMessage{   /*text-align*/
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 65%;
  padding: 1%;
  line-height: 2.5em;
}
#newMessageSubmit{
  position: absolute;
  bottom: 35%;
  right: 10%;
  width: 10%;
  height: 20%;
}

/* box 3*/
.App footer .User{
  position: fixed;
  bottom: 1%;
  height: 13%;
  width: 32.25%;
  background-color: white;
  border-top: darkGray groove 2px;
  border-bottom: darkGray groove 2px;
}

.User p {
  text-align: center;
}
.User h3 {
  text-align: center;

}
.User button{
  position: relative;
  left: 25%;
  width: 45%;
  height: 2em;
  font-size: 1em;
}

/* right-click menu */
#contextRoom, #contextMsg {
  display: none;
    z-index:1000;
    position: fixed;
    width: 10%;
    background-color:white;/*#C0C0C0;*/
    border: 2px ridge silver;
    padding: 5px;
    margin: 0;
    list-style-type: none;
    list-style: none;
  /*  width: 10%;
    height: 20%;*/
    overflow: auto;
}

#contextRoom li, #contextMsg li{
  display: block;
}
