.App nav {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: lightgrey;
  padding-left: 2em;
  padding-top: 1em;
}

.RoomList {
  display: block;
  list-style-type: none;
  padding-left: 0;
}

.RoomList li {
  line-height: 2em;
}
